:root {
    --ss-russian-blue: #002145;
    --ss-denim: #1B5FBA;
    --ss-yellow: #FDB927;
    --ss-black: #000000;
    --ss-white: #ffffff;
    --ss-white-80: rgba(255, 255, 255, 0.8);
    --ss-black-80: rgba(0, 33, 69, 0.8);
    --ss-dark-grey: #1B1A1A;
}
