@font-face {
    font-family: 'Industry';
    src: url('../fonts/Industry-Bold.eot');
    src: url('../fonts/Industry-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Industry-Bold.woff2') format('woff2'),
        url('../fonts/Industry-Bold.woff') format('woff'),
        url('../fonts/Industry-Bold.ttf') format('truetype'),
        url('../fonts/Industry-Bold.svg#Industry-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira-SemiBold.eot');
    src: url('../fonts/Saira-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira-SemiBold.woff2') format('woff2'),
        url('../fonts/Saira-SemiBold.woff') format('woff'),
        url('../fonts/Saira-SemiBold.ttf') format('truetype'),
        url('../fonts/Saira-SemiBold.svg#Saira-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira-Medium.eot');
    src: url('../fonts/Saira-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira-Medium.woff2') format('woff2'),
        url('../fonts/Saira-Medium.woff') format('woff'),
        url('../fonts/Saira-Medium.ttf') format('truetype'),
        url('../fonts/Saira-Medium.svg#Saira-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira-Regular.eot');
    src: url('../fonts/Saira-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Saira-Regular.woff2') format('woff2'),
        url('../fonts/Saira-Regular.woff') format('woff'),
        url('../fonts/Saira-Regular.ttf') format('truetype'),
        url('../fonts/Saira-Regular.svg#Saira-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



// @font-face {
//   font-family: 'Satoshi-Medium';
//   src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
//        url('../fonts/Satoshi-Medium.woff') format('woff'),
//        url('../fonts/Satoshi-Medium.ttf') format('truetype');
//        font-weight: 500;
//        font-display: swap;
//        font-style: normal;
// }
