$body-font-size: 1.125rem;
$body-line-height: 1.75;

$body-color: rgba(0, 33, 69, 0.8);
$font-family-sans-serif: 'Saira';
$font-family-base: 'Saira';
$font-size-base: $body-font-size;
$line-height-base: $body-line-height;
$headings-font-family: 'Industry';
$headings-font-weight:  bold;
$enable-negative-margins: true
